*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --blue: #3d80f3;
  --hue-neutral: black;
  --hue-wrong: darkred;
  --hue-correct: darkgreen;
}
html {
  width: 100%;
  /* height: 100; */
  font-size: 14pt;
}
body {
  /* width: 100vw;
  height: 100vh; */
  width: 100;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  --hue: var(var(--hue-neutral));
  background-color: black;
  overflow: hidden;
}

@media (min-width: 600px) {
  html {
    font-size: 16pt;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 18pt;
  }
}

body.correct {
  --hue: var(--hue-wrong);
}
body.wrong {
  --hue: var(--hue-wrong);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;  
}

p {
  margin: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
  margin: 0;
  position: relative;
}

@media (max-width: 360px) {
  .page {
    padding: 0 0.5rem;
  }
}

.wrapper {
  height: 95vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.title-font {
  font-size: 2.5rem;
}
.large-font {
  font-size: 2rem;
}
.medium-font {
  font-size: 1.5rem;
}
.small-font {
  font-size: 1rem;
}
.page-title {
  text-align: center;
  padding: 1rem 0;
}
.centered {
  text-align: center;
}
.bottom-fixed {
  position: fixed;
  bottom: 1rem;
  display:inline-block;
  margin-right: 5px;
}

button {
  cursor: pointer;
}

/* Main screen */

.main-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px black;
  background-image: url('../images/full/39full.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.settings-icon {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-image: url(../images/icons/settings.svg);
  background-repeat: no-repeat;
}
.main-screen h1 {
  font-size: 3rem;  
}
.main-screen h2 {
  padding-top: 2rem;
}
.main-screen button {
  width: 70%;
  height: 10%;
  margin-top: 2rem;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: solid white 2pt;
  border-radius: 50pt;
}

/* Settings screen */

.settings-page {
  /* padding-top: 2rem; */
  background: black;
  margin: 2rem auto;
  align-items: center;
}
@media (min-width: 1100px) {
  .settings-page {
    width: 70vw;
  }
}
.settings-title {
  padding-left: 5rem;
  font-size: 1.5rem;
  text-align: left;
}
.back-arrow {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../images/icons/back.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.settings {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-shadow: 2px 2px black;
}

.user-name {
  flex: 1;
  max-width: 60%;
  margin: 1rem 0;
  padding: 10px 10px;
  text-align: left;
  color: #fff;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;;
  outline: 1px blue;
}

.user-name::placeholder {
  color: #fff;
  opacity: .6;
}
.volume-controls {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
input[type="range" i] {
  appearance: auto;
  width: 70%;
  cursor: progress;
  margin: 15px;
}
.volume-mute {
  background-image: url(../images/icons/mute.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 2rem;
}
.volume-on {
  background-image: url(../images/icons/volume.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

/* Set time to complete */

.No-Yes-Time {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.No-Yes-Time span {
  display: block;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3d80f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3d80f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.smooth {
  border-radius: 34px;
}
.slider.smooth:before {
  border-radius: 50%;
}
.time-to-complete {
  margin-top: 1.5rem;
}
.set-time-section {
  width: 50%;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.time-button {
  width: 3rem;
  height: 3rem;
  padding: 0px;
  font-size: 2rem;
  line-height: 2rem;
  background-color: #3d80f3;
  border: none;
  border-radius: 50%;
  color: white;
  text-shadow: 2px 2px black;
}
.seconds-input {
  height: 3rem;
  width: 4rem;
  padding: 0;
  font-size: larger;
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
  text-shadow: 2px 2px black;
}

.settings-button {
  width: 40%;
  height: 30%;
  padding: 0.7rem;
  margin-top: 1rem;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: solid white 2pt;
  border-radius: 50pt;
}
.reset-button {
  margin-right: 1rem;
}
.save-button {
  background-color: #3d80f3;
  border: none;
}

.paintings-page {
  height: 100vh;
  margin: 1rem auto;
}
@media (min-width: 1100px) {
  .paintings-page {
    width: 70vw;
  }
}

.round-page {
  height: 100vh;
  margin: 1rem auto;
}
@media (min-width: 1100px) {
  .round-page {
    width: 70vw;
  }
}

/* Artists page */

.artist-round1 {
  background-image: url(../images/square/120.jpg);  
}
.artist-round2 {
  background-image: url(../images/square/130.jpg);
}
.artist-round3 {
  background-image: url(../images/square/140.jpg);
}
.artist-round4 {
  background-image: url(../images/square/150.jpg);
}
.artist-round5 {
  background-image: url(../images/square/160.jpg);
}
.artist-round6 {
  background-image: url(../images/square/170.jpg);
}
.artist-round7 {
  background-image: url(../images/square/180.jpg);
}
.artist-round8 {
  background-image: url(../images/square/190.jpg);
}
.artist-round9 {
  background-image: url(../images/square/200.jpg);
}
.artist-round10 {
  background-image: url(../images/square/210.jpg);
}
.artist-round11 {
  background-image: url(../images/square/220.jpg);
}
.artist-round12 {
  background-image: url(../images/square/230.jpg);
}
.artists-page {
    height: 100vh;
    margin: 1rem auto;
}

@media (min-width: 1100px) {
  .artists-page {
    width: 70vw;
  }
}
.hide {
  display: none;
}
/* Categories page */

.categories-grid {
  height: 70vh;
  text-shadow: 2px 2px black;
  margin: 1rem auto;
  display: grid;
  /* grid-template-columns: repeat(2, auto); */
  grid-template-columns: 48% 48%;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 700px) {
  .categories-grid {
    grid-template-columns: 30% 30% 30%;    
  }
}
@media (min-width: 1200px) {
  .categories-grid {
    grid-template-columns: 22% 22% 22% 22%;    
  }
}

.round {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer; 
}
.round:hover {
  box-shadow: 0 0 10px 2px;
}

@media (max-width: 360px) {
  .round {
    font-size: 1rem;
  }
  .page-title {
    padding-bottom: 0;
  }
  .large-font {
    font-size: 1.5rem;
  }
  .medium-font {
    font-size: 1rem;
  }
  .main-screen h1 {
    font-size: 2rem;
  }
  .main-screen button {
    font-size: 1.5rem;
  }
}

.painting-round {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.painting-round1 {
  background-image: url(../images/square/0.jpg);  
}
.painting-round2 {
  background-image: url(../images/square/10.jpg);
}
.painting-round3 {
  background-image: url(../images/square/20.jpg);
}
.painting-round4 {
  background-image: url(../images/square/30.jpg);
}
.painting-round5 {
  background-image: url(../images/square/40.jpg);
}
.painting-round6 {
  background-image: url(../images/square/50.jpg);
}
.painting-round7 {
  background-image: url(../images/square/60.jpg);
}
.painting-round8 {
  background-image: url(../images/square/70.jpg);
}
.painting-round9 {
  background-image: url(../images/square/80.jpg);
}
.painting-round10 {
  background-image: url(../images/square/90.jpg);
}
.painting-round11 {
  background-image: url(../images/square/100.jpg);
}
.painting-round12 {
  background-image: url(../images/square/110.jpg);
}


/* Painting Question page */

#question {
  margin-top: 1rem;
}

#question-container {  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  width: 100%;  
  align-self: center;
  justify-content: center;
}

@media (min-width: 900px) {  
  #question-container {
    margin-bottom: 0;
  }
}

#painting {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-image: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 600px) {
  #painting {
    width: 300px;
    height: 300px;
  }
}

.btn-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10px;
  margin: 20px auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 1px solid white;
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  font-size: 1rem;
  outline: none;
  margin: 0.5rem;
  color: white;
  text-shadow: 1px 1px black;
  cursor: pointer;
  background: none;
  border: solid white 2pt;
  border-radius: 50pt;
}

@media (max-width: 360px) {
  .btn {
    padding: 0.3rem 0.3rem;
    font-size: 0.8rem;
    outline: none;
    margin: 0.3rem;
  }
  .btn-grid {
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .btn {
    padding: 0.5rem 0.5rem;
  }
}

.btn:hover{
  border-color: white;
  background-color: darkgray;
}
.btn.correct {
  background-color: darkgreen;
}
.btn.wrong {
  background-color: darkred;
}

.start-btn, .next-btn, .score-btn, .categories-btn {
  padding: 10px 20px;
  font-size: larger;
}
.next-btn {
  width: 90%;
  margin: 0 2rem;
}
#end-message {
  padding-bottom: 1rem;
}

@media (min-width: 900px) {
  #end-message {
    padding-bottom: 0;
  }
}
 
.controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

/* Artist question page */

.four-paintings {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Score page */

.score-page {
  padding-top: 2rem; 
  margin: 1rem auto;
}

@media (min-width: 1100px) {
  .score-page {
    width: 70vw;
  }
}

.paintings-shown-grid {
  display: grid;
  grid-template-columns: 48% 48%;
  height: 70vh;
  text-shadow: 2px 2px black;
  margin: 0 auto;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 600px) {
  .paintings-shown-grid {
    grid-template-columns: 30% 30% 30%;
  }
}

@media (min-width: 900px) {
  .paintings-shown-grid {
    grid-template-columns: 22% 22% 22% 22%;
  }
}

.round-number {
  padding: 0 1rem;
}
#round-score {
  padding-left: 1rem;
  padding-right: 0.3rem;
}

.inline-block {
  display: inline-block;
  width: 45%;
}

.results-card {
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  text-shadow: 1px 1px black;
}

@media (min-width: 1100px) {
  .footer {
    width: 70vw;
  }
}
.rss-logo {
  margin-right: 0.5rem;
  width: 55px;
  height: 25px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  background-image: url(../images/icons/rss-logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-btn {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  justify-content: center;
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.left-btn {
  left: 2rem;
}
.centered-btn {
  left: 48%;
}
.right-btn {
  right: 2rem;
}

@media (max-width: 360px) {
  .nav-btn {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (min-width: 900px) {  
  .centered-btn {
    left: 48%;
  }
  .right-btn {
    position: absolute;
    bottom: 2rem;
  }
}
.home-btn-nav {
  background-image: url(../images/icons/home.svg);
}
.score-btn-nav {
  background-image: url(../images/icons/score.svg);
}
.rounds-btn-nav {
  background-image: url(../images/icons/categories.svg);
}